.freigaben-button {
    height: 60px;
}

.button-table {
    width: 200px;
}

input.bigger-checkbox {
    transform: scale(1.5);
}

div.hidden {
    display: none;
}

nav.navbar div.collapse ul.navbar-nav li a.nav-link {
    display: inline-flex;
    vertical-align: middle;
    font-size: 18px;
    line-height: 200%;
}

nav.navbar div.collapse ul.navbar-nav li.active a.nav-link {
    color: #0090d3;
    font-weight: bold;
}

nav.navbar div.collapse ul.navbar-nav li.nav-item a.nav-link:hover {
    color: #0090d3;
}

button.material-icons {
    font-size: 36px;
}

button.material-icons:hover {
    color: #0090d3;
}

i.big {
    font-size: 36px;
}

div.card {
    border-color: #0090d3;
    box-shadow: 1px 1px 5px grey;
}